.button
{
    background: black;
    padding: 10px;
    color: #ffff;
    border: 1px solid #000;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
.full-width
{
    width: 100%;
    float: left;
    line-height: 40px;
}
.label
{
    width:50px;
    float: left;
}
.textbox
{ 
    padding: 3px;
    font: small-caption;
    font-size: 18px;
    width: 200px;
    color: #34495e;
    outline: none;
    margin: 5px;
    float: left;
}
.listcar
{
    width: 33.33%;
    float: left;
}

.hidden { display: none;}
.active{ background-color: aqua;}