.button
{
    background: black;
    padding: 10px;
    color: #ffff;
    border: 1px solid #000;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
.full-width
{
    width: 100%;
    float: left;
    line-height: 40px;
}
.label
{
    width:150px;
    float: left;
}
.textbox
{ 
    padding: 3px;
    font: small-caption;
    font-size: 18px;
    width: 200px;
    color: #34495e;
    outline: none;
    margin: 5px;
    float: left;
}

.car-container {
    width: 100%;
    display: inline-block;
}
.car-container .car-list {
    display: inline-block;
    box-sizing: border-box;
    width: 46%;
    margin: 0 2%;
    height: 50vh;
    overflow: auto;
    border: 1px solid #555;
    border-radius: 5px;
}
.car-container .car-list h3 {
    text-align: center;
}
/* .listcar
{
    width: 33.33%;
    float: left;
}
.addcarlist
{
    float: left;
    width:50%;
    display: block;
    list-style: none;
}
li{
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 200px;
    margin: 1rem;
    position: relative;
    width: 200px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 20px;
} */
.hidden { display: none;}
